
html, body{
  background: #dddddd;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

body{
  text-align: center;
  vertical-align: middle;
}

#login{
  background: #ffffff;
  width: 30rem;
//  height: 25rem;
  margin: auto;
  padding: 2rem;
  box-sizing: border-box;
  text-align: left;
}